* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  button {
    border-style: none;
    background: none;
    cursor: pointer;
  }
  ol,ul {
    list-style: none;
  }
  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }
  textarea {
    resize: none;
  }